.select-doctor{
    width: 20%;
    margin-left: 20px;
}
.added-dctr{
    color: #0669aa;
}
.confirm-btn{
    background-color: #0669aa;
    color: white;
    padding:5px 30px;
    margin: 10px 38px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #0669aa;
    border-radius: 3px;
}