.selectedDoctor img{
    width: 100%;
    height: 100%;
}
.close-btn{
    display: flex;
    background-color: #e2f3ff;
    color: #0669aa;
}
.close-btn h6{
    padding-top: 16px;
}
.close-btn button{
    width: 30px;
    height: 30px;
    margin-top: 36px;
    margin-right: 5px;
    background-color: #ff0000ce;
    color: white;
    border: 1px solid #ff0000ce;
    border-radius: 5px;
}